@{
    ViewBag.Title = "Orleans Orniscient Dashboard";
}
<div id="dashboard"></div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orniscient.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orniscientutils.js")"></script>

    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>

    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/react-input-autosize.js"></script>
    <script src="~/Scripts/react-select.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Dashboard/DashboardTypeCounts.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Dashboard/DashboardTypeFilter.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Dashboard/DashboardTypeFilterList.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Dashboard/DashboardGrainMethodParameters.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Dashboard/DashboardGrainMethodReturnData.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Dashboard/Dashboard.jsx")"></script>
}


